extends layout.pug 

block content 
    if name
        h2  Hello #{name}
    else 
        form(action='/trackName', method='post')
            label Please enter you name: 
                input(type='text', name='username')
            button(type='submit') Submit 