doctype html
html(lang="en")
    head
        title Myname 
    body 
        h1 Hello scott
        form(action="/myName" mothod="post") 
            label Please enter your name:  
                input(type="text" name="username")
            button(type="submit") Submit